{#
/**
 * @file
 * The views show more pager template.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - item: Show more pager item.
 *
 * @see views_show_more_preprocess_views_show_more_pager()
 *
 * @ingroup themeable
 */
#}
{% if item.text %}
  <nav class="mt-6 lg:mt-12" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
      <ul{{ attributes }}>
        <li class="pager__item">
          {% if item.href %}
            {{ include("@zfz_components/buttons/default-button.twig", { text: item.text|t, href: item.href, title: 'Go to next page'|t, type: 'solid' }) }}
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      </ul>
  </nav>
{% endif %}