{#
/**
 * @Embed video component
 *
 * This component is for showing embeded videos. If eu cookie compliance is enabled and drupal user is logged out embedded video will be hidden in a template element tag before cookie consent is accepted.
 *
 * Variable: eu_cookie_compliance_module created in a hook inside preprocess-page.php - Checks if module eu cookie compliance is enabled or not
 * Variable: external_video - Holds class external-video-js that triggers scripts zfz_starter/src/ts/block-external-videos.ts
 * Variable: logged_in - Used to check if drupal user is logged in or not. We dont want to hide the video for drupal editors. External-video-js wont be triggered if user is on editor page and therefore wont create a copy of the template content.
 *
 */
#}

{% if eu_cookie_compliance_module == true %}
  {% set external_video = 'external-video-js' %}
{% endif %}

<div class="embed-video group group/embed {{ external_video }}">
  {# Adding if logged in so the video will be visible in editor #}
  {% if logged_in or eu_cookie_compliance_module == false %}
    <div class="video">
      <iframe width="560" height="315" src="{{ video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  {% else %}
    <div class="hidden prose prose-white bg-040 p-5 sm:p-10 group-[.third-party-video-blocked]/embed:block">
      <h2>{{"Video - To see this video you must accept marketing cookies"|t}} </h2>
      <a class="bg-transparent relative left-0 translate-x-0 block eu-cookie-withdraw-tab p-0">{{ "Cookie settings"|t }}</a>
    </div>
   <template class="embed-video-template">
      <div class="video">
        <iframe width="560" height="315" src="{{ video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </template>
  {% endif %}
</div
