<div class="fixed bottom-0 right-4 z-50">
  {% if primary %}
    <ul class="flex">{{ primary }}</ul>
  {% endif %}
  {% if secondary %}
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul>{{ secondary }}</ul>
  {% endif %}
</div>