<li class="bg-040 mx-2 text-center shadow-xl text-white rounded-tr-md rounded-tl-md hover:opacity-80 hover:scale-110 transition"{{ attributes }}>{{ link|merge({'#attributes': {'class': ['inline-block','w-full', 'h-full', 'p-4']}}) }}</li>

  
