{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 * - cookie_categories: Contains a array with cookie categories that can be
 *   agreed or disagreed to separately.
 * - save_preferences_button_label: Label text for a button to save the consent
 *   preferences.
 *   category cannot be unchecked.
 * - privacy_settings_tab_label: Label text for the Privacy settings tab.
 * - withdraw_button_on_info_popup: Show the withdraw button on this popup.
 * - method: Chosen consent method.
 * - olivero_primary_button_classes: Additional primary button classes that is only populated when
 *   option to extend Olivero theme's styles is enabled.
 * - olivero_secondary_button_classes: Additional secondary button classes that is only populated when
 *   option to extend Olivero theme's styles is enabled.
 */
#}

{% set classes = [
  'center bg-yellow-100 p-5 w-full max-w-7xl sm:p-10 sm:flex sm:items-end flex-col gap-8',
  'eu-cookie-compliance-banner',
  'eu-cookie-compliance-banner-info',
  'eu-cookie-compliance-banner--' ~ method|clean_class,

] %}
{% set button_classes = "break-normal flex justify-center items-center w-full py-3 px-8 rounded-full text-black-100
      font-os-bold transition-all duration-300 border-1 hover:bg-black-100 hover:text-yellow-100 hover:scale-105
      sm:inline-flex sm:w-auto sm:justify-start" %}
<div aria-labelledby="popup-text" {{ attributes.addClass(classes) }}>
    <div class="popup-content info eu-cookie-compliance-content w-full max-w-full prose-responsive prose--black prose--a-black prose--a-external">
      {% if close_button_enabled %}
        <button class="eu-cookie-compliance-close-button">Close</button>
      {% endif %}
      <div id="popup-text" class="eu-cookie-compliance-message" role="document">
        {{ message }}
      </div>
      {% if cookie_categories %}
        <div id="eu-cookie-compliance-categories" class="eu-cookie-compliance-categories">
          {% for key, category in cookie_categories %}
            <div class="eu-cookie-compliance-category mb-5 sm:mb-0">
                <input type="checkbox" name="cookie-categories" class="eu-cookie-compliance-category-checkbox mt-5" id="cookie-category-{{ key }}"
                      value="{{ key }}"
                      {% if category.checkbox_default_state in ['checked', 'required'] %} checked {% endif %}
                      {% if category.checkbox_default_state == 'required' %} disabled {% endif %} >
                <label for="cookie-category-{{ key }}">{{ category.label }}</label>
              {% if category.description %}
                <div class="eu-cookie-compliance-category-description">{{ category.description }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  <div id="popup-buttons" class="eu-cookie-compliance-buttons {% if cookie_categories %} eu-cookie-compliance-has-categories{% endif %} float-none flex gap-4 flex-wrap max-w-full">
    <button
      type="button"
      class="{{ primary_button_class }} {{ button_classes }}">
      {{ agree_button }}
    </button>

    {% if save_preferences_button_label %}
      <button 
        type="button"
        class="eu-cookie-compliance-save-preferences-button {{ button_classes }}">{{ save_preferences_button_label }}
      </button>
    {% endif %}

    {% if tertiary_button_label %}
      <button type="button"  class="{{ tertiary_button_class }} {{ button_classes }}">{{ tertiary_button_label }}
      </button>
    {% endif %}

    {% if secondary_button_label %}
      <button type="button" class="{{ secondary_button_class }} {{ button_classes }}">
        {{ secondary_button_label }}
      </button>
    {% endif %}
  </div>
</div>
