{#
/**
 * @file
 * This is a template file for the cookie consent withdraw button.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to the button:
 *
 * eu-cookie-withdraw-button - withdraw button
 * eu-cookie-withdraw-tab - tab that reveals the withdraw interface
 *
 * Variables available:
 * - message: Contains the text that will be displayed within the banner.
 * - withdraw_tab_button_label: Label for the tab that sits at the window edge.
 * - withdraw_action_button_label: Label for the withdraw button.
 * - olivero_primary_button_classes: Additional primary button classes that is only populated when
 *   option to extend Olivero theme's styles is enabled.
 * - olivero_secondary_button_classes: Additional secondary button classes that is only populated when
 *   option to extend Olivero theme's styles is enabled.
 */
#}
{% set classes = 'center prose-responsive prose--black prose--a-black prose--a-external bg-yellow-100 p-5 w-full max-w-7xl sm:p-10 flex sm:items-end flex-col gap-8' %}

{% set button_classes = "break-normal flex justify-center items-center w-full py-3 px-8 rounded-full text-black-100
      font-os-bold transition-all duration-300 border-1 hover:bg-black-100 hover:text-yellow-100 hover:scale-105
      sm:inline-flex sm:w-auto sm:justify-start" %}

<div aria-labelledby="popup-text" class="eu-cookie-withdraw-banner {{ classes }}">
  <div class="popup-content info eu-cookie-compliance-content w-full max-w-full">
    <div id="popup-text" class="eu-cookie-compliance-message mb-5 sm:mb-0" role="document">
      {{ message }}
    </div>
    <div id="popup-buttons" class="eu-cookie-compliance-buttons flex gap-4 flex-wrap">
      <button type="button" class="eu-cookie-withdraw-tab {{ button_classes }}">{{ withdraw_tab_button_label }}</button>
      <button type="button" class="eu-cookie-withdraw-button {{ button_classes }} {{ olivero_primary_button_classes }}">{{ withdraw_action_button_label }}</button>
    </div>
  </div>
</div>
