{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the agree button
 * - disagree_button: Label for the disagree button
 * - olivero_primary_button_classes: Additional primary button classes that is only populated when
 *   option to extend Olivero theme's styles is enabled.
 * - olivero_secondary_button_classes: Additional secondary button classes that is only populated when
 *   option to extend Olivero theme's styles is enabled.
 */
#}

<div aria-labelledby="popup-text" class="eu-cookie-compliance-banner eu-cookie-compliance-banner-info bg-blue-400">
  <div class="popup-content info eu-cookie-compliance-content">
    <div id="popup-text" class="eu-cookie-compliance-message" role="document">
      {{ message }}
    </div>
    <div id="popup-buttons" class="eu-cookie-compliance-buttons">
      <button type="button" class="agree-button eu-cookie-compliance-agree-button {{ olivero_primary_button_classes }}">{{ agree_button }}</button>
      {% if disagree_button %}
        <button type="button" class="disagree-button find-more-button eu-cookie-compliance-more-button">{{ disagree_button }}</button>
      {% endif %}
    </div>
  </div>
</div>
