<button {{ attributes.addClass(
    [
      'transition',
      'flex',
      'items-center',
      'gap-x-2',
      'text-black',
      'hover:text-white',
      'border',
      'border-black',
      'hover:bg-black',
      'focus:ring-4',
      'focus:outline-none',
      'focus:ring-black/60',
      'font-medium',
      'rounded-lg',
      'px-5',
      'py-2.5',
      'text-center',
      'mb-2'
    ]|merge(classes|default([]))
  )
  }}
  type="button">
  {% block text %}{% endblock %}
  {% block icon %}{% endblock %}
</button>
