@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defined theme colors */
@import "colors.css";

/* Custom Tailwind components */
@layer components {
  .ck-content {
    @apply prose prose-base sm:prose-lg;
    max-width: 100% !important;
  }

  .ck-widget {
    @apply !inline;
  }

  /* Used to apply styling to iframe where template/markup is accesable */
  figure iframe {
    @apply w-full h-full aspect-video;
  }
}
