/* Defined theme colors */
:root {
  /* White */
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --white-20: rgba(var(--white-rgb), 0.2);
  --white-40: rgba(var(--white-rgb), 0.4);
  --white-60: rgba(var(--white-rgb), 0.6);
  --white-80: rgba(var(--white-rgb), 0.8);
  /* Black */
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --black-20: rgba(var(--black-rgb), 0.2);
  --black-40: rgba(var(--black-rgb), 0.4);
  --black-60: rgba(var(--black-rgb), 0.6);
  --black-80: rgba(var(--black-rgb), 0.8);

  /* blue 100 */
  --blue-100: #e9f6fd;
  --blue-100-rgb: 233, 246, 253;
  /* Transparent variations of color blue-100 */
  --blue-100-20: rgba(var(--blue-100-rgb), 0.2);
  --blue-100-40: rgba(var(--blue-100-rgb), 0.4);
  --blue-100-60: rgba(var(--blue-100-rgb), 0.6);
  --blue-100-80: rgba(var(--blue-100-rgb), 0.8);
}
