@font-face {
  font-family: "OpenSans";
  src: url("/themes/custom/maxima/src/fonts/ttf/OpenSans-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "OpenSans";
  src: url("/themes/custom/maxima/src/fonts/ttf/OpenSans-Medium.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "OpenSans";
  src: url("/themes/custom/maxima/src/fonts/ttf/OpenSans-Bold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
