@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defined theme colors */
@import "colors.css";

/* Custom Tailwind components */

@layer components {
  /* Holds all prose classes */
  .prose-responsive {
    @apply prose prose-base sm:prose-lg;
  }

  /* Center content */
  .center {
    @apply mx-auto max-w-9xl;
  }

  /* Horizontal responsive spacing for content */
  .spacing-x {
    @apply px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  /* Vertical responsive spacing for each section */
  .spacing-y {
    @apply py-6 sm:py-8 lg:py-12 xl:py-16;
  }

  /* Horizontal and vertical responsive spacing for each section */
  .spacing-xy {
    @apply py-6 sm:py-8 lg:py-12 xl:py-16 px-4 sm:px-8 lg:px-12 xl:px-16;
  }

  /* Columns */
  .columns-2-responsive {
    @apply grid gap-4 grid-cols-1 sm:gap-8 sm:grid-cols-2 lg:gap-16;
  }

  .column-3-responsive {
    @apply grid gap-4 grid-cols-1 sm:gap-8 md:grid-cols-3 lg:gap-16;
  }

  .columns-4-responsive {
    @apply grid gap-4 grid-cols-1 sm:grid-cols-2 sm:gap-8 lg:grid-cols-4 lg:gap-16;
  }

  /* Used to apply styling to iframe where template/markup is accesable */
  .video *,
  .video iframe {
    @apply w-full h-full aspect-video;
  }
}

/* Custom Gin styling */

.gin-secondary-toolbar.gin-secondary-toolbar--frontend {
  @apply fixed w-full top-12;
}

#toolbar-administration,
#toolbar-administration-secondary {
  * {
    font-family: Ginter, Inter, "Helvetica Neue", BlinkMacSystemFont,
      -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      sans-serif;
  }
}
