{% set classes = [dom_id ? 'js-view-dom-id-' ~ dom_id] %}

<div class="spacing-x spacing-y {{ attributes.addClass(classes) }}">
  <div class="center">
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}
    <div class="spacing-y pt-0 max-w-4xl">
      {# Page title #}
      {{ title }}

      {% if header %}
        {# Header text #}
        <p class="legible-p text-black-100">{{ header }}</p>
      {% endif %}
    </div>

    {% if exposed %}
      <div class="mb-12">
        {{ exposed }}
      </div>
    {% endif %}

    <div class="columns-4-responsive">
      {{ rows }}
    </div>

    {{ pager }}

    <div class="text-black-100">
      {{ empty }}
    </div>
    {{ attachment_after }}

    {% if footer %}
      {{ footer }}
    {% endif %}

    {{ feed_icons }}
  </div>
</div>